body {
  background-image: url("https://res.cloudinary.com/value-penguin/image/upload/c_lfill,dpr_1.0,f_auto,h_1600,q_auto,w_1600/v1/currency_shutterstock_258312164_yhot0f");
  font-family: 'Roboto Mono', monospace;
  padding: 120px;
}

.backdrop {
  background-color: rgba(255, 255, 255, 0.797);
  width: 520px;
  height: 620px;
  border-radius: 20px;
  border-color: rgba(0, 0, 0, 0.297);
  border-style: groove;
  border-width: 1px;
  padding: 30px;
  margin-top: 90px;
  margin: auto;
}

h1 {
  font-size: 205%;
}

label {
  font-weight: bold;
  font-size: 130%;
  margin-top: 40px;
}

#dollarAmount {
  font-size: larger;
  width: 220px;
  padding: 6px;
  margin-top: 5px;
  margin-bottom: 20px;
}

h2 {
  font-weight: bold;
  font-size: 125%;
}

select {
  width: 280px;
  padding: 11px;
  margin-top: 12px;
  cursor: pointer;
}

#getExchange {
  margin-top: 40px;
  display: inline-block;
  padding: 15px 15px;
  font-size: 24px;
  font-weight: bold;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: rgb(20, 87, 231);
  background-color: rgba(255, 219, 16, 0.927);
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px rgba(181, 181, 181, 0.824);
}

#getExchange:hover {background-color: rgba(255, 227, 66, 0.92)}

#getExchange:active {
  background-color: rgb(255, 227, 66);
  box-shadow: 0 5px rgba(152, 152, 152, 0.824);
  transform: translateY(4px);
}

h3 {
  display: none;
}

.showExchange {
  font-weight: bold;
  font-size: 180%;
  margin-top: 60px;
  color: green;
  font-stretch: semi-expanded;
}

.showErrors {
  font-weight: bold;
  font-size: 160%;
  color: red;
}






