#dollarAmount {
  width: 220px;
  padding: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
}

select {
  width: 280px;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 20px;
}

h2 {
  font-size: 100%;
}

h3 {
  display: none;
}

